{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>{{title}} - my project!</title>
    {% else %}
    <title>Bootstrap-Flask Demo Application</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="apple-touch-icon" href="../static/img/tagicon.png" sizes="180x180">
    <link rel="icon" href="../static/img/tagicon.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../static/img/tagicon.png" sizes="16x16" type="image/png">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <img src="../static/img/tagicon.png" style="height: 28px; width:28px; margin-top: 6px; margin-right: 5px " alt="">
                </li>
                {{ render_nav_item('index', 'Home', use_li=True) }}
                {{ render_nav_item('login', 'Log in', use_li=True) }}
                {{ render_nav_item('table', 'Table State', use_li=True) }}
                {{ render_nav_item('menu', 'Menu', use_li=True) }}
                {{ render_nav_item('order', 'Order State', use_li=True) }}
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
           {{ render_nav_item('logout', 'Log Out', use_li=True) }}
        </ul>
    </nav>
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% with message = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}
    </main>
          <footer class="text-center">
        {% block footer %}
            <small> &copy; 2020 <a href="http://greyli.com" title="Written by Grey Li">KY Tseng</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>

</body>
</html>
