{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    {% if table %}
        <h2 style="margin-top: 30px">Table INFO</h2>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Table No.</th>
                <th scope="col">Order</th>
                <th scope="col">Status</th>
                <th scope="col">Order_status</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            {% for t in table %}
                <tr>
                    <td scope="row">{{ t.id }}</td>
                    <td>{{ t.order_id }}</td>
                    <td>{{ t.status }}</td>
                    <td>No Order</td>
                    <td>
                        <a href="{{ url_for('busboy', name=busboy_name) }}?table_id={{ t.id }}">
                          <button class="table-btn btn-sm btn-info">Table Clean</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

