{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    {% if table %}
        <h2 style="margin-top: 30px">Table INFO</h2>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Table No.</th>
                <th scope="col">Order</th>
                <th scope="col">Status</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            {% for t in table %}
                <tr>
                    <th scope="row">{{ t.id }}</th>
                    <td>{{ t.order_id }}</td>
                    <td>{{ t.status }}</td>
                    <td>
                        <a href="{{ url_for('order') }}?table_id={{ t.id }}&order_id={{ t.order_id }}">
                            <button class="table-btn btn-sm btn-info">Order</button>
                        </a>
                        <a href="{{ url_for('host', name=host_name) }}?table_id={{ t.id }}&task_id=2&next_state=3">
                            <button class="table-btn btn-sm btn-danger">Finish Order</button>
                        </a>
                        <a href="{{ url_for('host', name=host_name) }}?table_id={{ t.id }}&task_id=0">
                            <button class="table-btn btn-sm btn-primary">Assign Waiter</button>
                        </a>
                        <label style="width: 25%">
                            <select class="custom-select">
                                <option value="1">Available</option>
                                <option value="2">Occupy</option>
                                <option value="3">Need Clean</option>
                            </select>
                        </label>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

