{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>It's my project</h1>
    {#<ul>#}
    {#    <li><a href="{{ url_for('login') }}">Login you know? </a></li>#}
    {#</ul>#}
    {% if name and  role %}
        <p>Welcome back </p>
        <p style="color: red">{{name}}</p>
        <p>you position is</p>
        <p style="color: red">{{role}}</p>
    {% endif %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">11622222</th>
            <td>Xiaonan Zhou</td>
            <td>Waiter</td>
            <td>zhou411@gmail.com</td>
            <td>
                <button class="table-btn btn-sm btn-info">edit</button>
                <button class="table-btn btn-sm btn-danger">delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td class="btn-col">
                <button class="table-btn btn-sm btn-info">edit</button>
                <button class="table-btn btn-sm btn-danger">delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>@twitter</td>
            <td>
                <button class="table-btn btn-sm btn-info">edit</button>
                <button class="table-btn btn-sm btn-danger">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h2>Create new employee information</h2>
    {#    {{ render_form(form) }}#}

    <form class="form add-form" action="/index" method="post">
        {{ form.csrf_token() }}
        {{ render_form_row ([form.username]) }}
        {{ render_form_row ([form.password]) }}
        {{ render_form_row ([form.password_again]) }}
        {{ render_form_row ([form.email]) }}
        {{ render_form_row ([form.name]) }}
        {{ render_form_row ([form.role]) }}
        {{ render_form_row ([form.add]) }}
    </form>
{% endblock %}
