{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    {% if table %}
        <h2 style="margin-top: 30px">Table INFO</h2>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Order No.</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Table No.</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td scope="row">{{ order.id }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.time }}</td>
                    <td>{{ order.table_id}}</td>
                    <td>
                        <a href="{{ url_for('kitchen', name=kitchen_name) }}?order_id={{ order.id }}&table_id={{ order.table_id }}">
                            <button class="table-btn btn-sm btn-info">Complete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

