{% extends 'base1.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <div style="vertical-align: middle; margin-top: 10%">
        <div class="text-center">
            <a href="{{url_for('.index')}}">
                <img src="../static/img/mainicon.svg" alt="" style="height: 20%; width: 20%">
            </a>

        </div>
        <form class="form login-form" action="/login" method="post">
            {{ form.csrf_token() }}
            {{ render_form_row ([form.username]) }}
            {{ render_form_row ([form.password]) }}
            {{ render_form_row ([form.submit]) }}
        </form>
    </div>

{% endblock %}
