{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1> This is the employee's web.</h1>
    {% if current_user.is_authenticated %}
        {% if current_user.role_id==5 %}
            <p> Welcome Manager:
                <span style="color: red; font-weight: bolder">
                    {{ current_user.name }}</span>
            </p>
            <p> Here is the admin information page, Your email address is:
                <span style="color: red; font-weight: bolder">
                    {{ current_user.email }}</span>
            </p>
        {% else %}
            <p> Sorry employer </p>
            <p style="color: red">{{ current_user.name }} </p>
            <p> It's managers' page</p>
        {% endif %}
    {% endif %}

    <h2 style="margin-top: 30px">Create new employee information</h2>
    {#    {{ render_form(form) }}#}

    <form class="form add-form"  action="/manager/{{ current_user.name }}"  method="post">
        {{ form.csrf_token() }}
        {{ render_form_row ([form.username]) }}
        {{ render_form_row ([form.password]) }}
        {{ render_form_row ([form.password1]) }}
        {{ render_form_row ([form.email]) }}
        {{ render_form_row ([form.name]) }}
        {{ render_form_row ([form.role]) }}
        {{ render_form_row ([form.add_user]) }}
    </form>


    {% if employer %}
        <h2 style="margin-top: 30px">Employer INFO</h2>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Staff No.</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for s in employer %}
                <tr>
                    <th id="user_id" scope="row">{{ s.id }}</th>
                    <td id="user_username">{{ s.username }}</td>
                    <td id="user_email">{{ s.email }}</td>
                    <td id="user_name">{{ s.name }}</td>
                    <td id=“user_password”>{{ s.password }}</td>
                    <td id="user_role">
                        {% if s.role_id == 1 %}
                            Waiter
                        {% elif s.role_id == 2 %}
                            Host
                        {% elif s.role_id == 3 %}
                            Kitchen
                        {% elif s.role_id == 4 %}
                            Busboy
                        {% elif s.role_id == 5 %}
                            Manager
                        {% endif %}
                    </td>

                    <td>{{ s.status }}</td>
                    <td>
                        <a href="{{ url_for('menu') }}?user_id={{ s.id }}&from={{ current_user.name }}">
                            <button id="edit" type="button" class="table-btn btn-sm btn-primary edit-btn">
                                Edit
                            </button>
                        </a>
{#                        <button class="table-btn btn-sm btn-danger">Delete</button>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {#    menu info#}

    <h2 style="margin-top: 30px">Create new Menu item</h2>
    {#    {{ render_form(form) }}#}

    <form class="form add-form" action="/manager/{{ current_user.name }}" method="post">
        {#    <form class="form add-form" action="{{ url_for('manager', name = current_user.name ) }}" method="post">#}
        {{ form.csrf_token() }}
        {{ render_form_row ([menu_add_form.name]) }}
        {{ render_form_row ([menu_add_form.price]) }}
        {{ render_form_row ([menu_add_form.add]) }}
    </form>

    {% if menu %}
        <h2 style="margin-top: 30px">Menu INFO</h2>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Menu No.</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for m in menu %}
                <tr>
                    <th scope="row">{{ m.id }}</th>
                    <td>{{ m.name }}</td>
                    <td>${{ m.price }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
