{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}


{% block content %}
<h1>It's menu !</h1>
    {% if edit_user %}

        <form class="form add-form"
              action="{{ url_for('menu') }}?user_id={{ user_id }}&from={{ where }}"
              method="post">
            {{ form.csrf_token() }}
            {{ render_form_row ([form.id]) }}
            {{ render_form_row ([form.username]) }}
            {{ render_form_row ([form.password]) }}
            {{ render_form_row ([form.email]) }}
            {{ render_form_row ([form.name]) }}
            {{ render_form_row ([form.role]) }}
            {{ render_form_row ([form.edit]) }}
        </form>
    {% endif %}

{#    <form class="form add-form" action="{{ url_for('menu') }}?user_id={{ user_id }}&from={{ where }}" method="post">#}
{#        {{ form.csrf_token() }}#}
{#        {{ render_form_row ([form.id]) }}#}
{#        {{ render_form_row ([form.username]) }}#}
{#        {{ render_form_row ([form.password]) }}#}
{#        {{ render_form_row ([form.email]) }}#}
{#        {{ render_form_row ([form.name]) }}#}
{#        {{ render_form_row ([form.role]) }}#}
{#        {{ render_form_row ([form.edit]) }}#}
{#    </form>#}
{% endblock %}
