{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}


{% block content %}
<h1>It's menu !</h1>
    {% if edit_user %}
        <form class="form edit-form" action="{{ url_for('menu') }}" method="POST" name="form">
            <div class="form-row">
                {{ form.csrf_token() }}
                <label>Id</label>
                <input  type="text" class="form-control" name="id" value="{{ edit_user.id }}" readonly="readonly">
                <label>Username</label>
                <input id="username" type="text" class="form-control" name="username" value="{{ edit_user.username }}">
                <label>Password</label>
                <input type="text" class="form-control" name="password" value="{{ edit_user.password }}">
                <label>Email</label>
                <input type="text" class="form-control" name="email" value="{{ edit_user.email }}">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" value="{{ edit_user.name }}">
                <label>Role</label>
                <input type="text" class="form-control" name="Role" value="{{ edit_user.role_id }}">
                {{ render_form_row ([form.edit]) }}
                <input type="submit" value="确认">
            </div>
        </form>
    {% endif %}
{% endblock %}
